@import "../../../sass/sass-utils/mixins";
@import "../../../sass/sass-utils/colors";

.category_wrapper {
	width: 100%;
	@include flex-col;
	gap: 1rem;
	.row_one {
		@include flex-col;
		gap: 1rem;
		@include screens-md {
			@include flex-row;
		}
	}
	.row_two {
		@include screens-md {
			width: 100%;
		}
	}
}
