@import "../../../sass//sass-utils/colors";
@import "../../../sass//sass-utils/mixins";

.reset_password_page_wrapper {
	max-width: 35rem;
	min-height: 50vh;
	margin: auto;
	padding: 1rem;
	@include flex-col-center;
	justify-content: center;
	gap: 1.5rem;
	.reset_form_wrapper {
		width: 100%;
		border-radius: 8px;
		border: 1px solid $light_gray;
		padding: 2rem 1rem;
	}
}
