@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";
.banner_wrapper {
	margin-top: 5rem;
	background-color: $body;
	padding: 2rem;
	@include flex-col-center;
	gap: 1rem;
	.banner_text {
		text-align: center;
		h4 {
			margin-bottom: 0.9rem;
		}
	}
}
