@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";
.slider_cover_wrapper {
	@include flex-col;
	gap: 1.5rem;
	margin-top: 2rem;
	width: 100%;
	height: 57vh;
	overflow: hidden;
	background-color: $black_main;
	.cover_1,
	.cover_2 {
		@include flex-row-center;
		justify-content: space-between;
		align-content: stretch;
		height: 100%;
		img {
			display: none;
			@include screens-md {
				display: flex;
				width: 50%;
				height: 100%;
				object-fit: cover;
			}
			@include screens-xl {
				width: 50%;
				height: 100%;
			}
		}
		.cover_text {
			width: 100%;
			color: $white;
			@include flex-col;
			gap: 0.8rem;
			align-items: center;
			justify-content: center;
			text-align: center;
			@include screens-md {
				margin-left: 3rem;
				width: 45%;
				align-items: flex-start;
				justify-content: start;
				text-align: start;
			}
			button {
				margin-top: 1rem;
			}
		}
	}
}

.discount {
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.01px;
	color: $red_main;
}
.span_text {
	color: $red_main;
}
.banner_wrapper {
	margin-top: 0.8rem;
	@include flex-col-center;
	gap: 1rem;
	width: 100%;
	@include screens-md {
		@include flex-row-center;
	}
}
