@import "../../../sass//sass-utils/colors";
@import "../../../sass//sass-utils/mixins";

.profile_update_form_wrapper {
	position: relative;
	.loading_progress {
		position: absolute;
		top: -3.7rem;
		width: 100%;
		z-index: 10;
	}
	.form_buttons {
		@include flex-col;
		gap: 0.5rem;
		button {
			width: 100%;
			@include screens-md {
				max-width: 15rem;
			}
		}
		a {
			font-weight: 400;
			font-size: 0.9rem;
			transition: all 0.2s linear;
			text-align: center;
			@include screens-md {
				font-size: 1.1rem;
				text-align: start;
			}
			&:hover {
				color: $red_main;
				transition: all 0.2s linear;
			}
		}
	}
}
.loading_on {
	opacity: 0.5;
}
