@import "../../sass/sass-utils/colors";
@import "../../sass/sass-utils/mixins";

/************Top category *****************/
.grid_view_wrapper_category {
	padding: 1.4rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 19rem;
	gap: 0.8rem;
}
.grid_view_wrapper_category > *:nth-child(1) {
	grid-column: span 4;
	@include screens-md {
		grid-column: span 2;
		grid-row: span 2;
	}
}

.grid_view_wrapper_category > *:nth-child(2),
.grid_view_wrapper_category > *:nth-child(3) {
	grid-column: span 4;
	@include screens-md {
		grid-column: span 2;
		grid-row: span 1;
	}
}

/************Sub-category Page*****************/

.grid_view_wrapper_sub_category {
	padding: 1.4rem;
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-auto-rows: 22rem;
	gap: 1rem;
	@include screens-md {
		grid-template-rows: 36rem 22rem 36rem;
	}
	@include screens-2xl {
		padding: 1rem 0;
	}
}

.grid_view_wrapper_sub_category > *:nth-child(1),
.grid_view_wrapper_sub_category > *:nth-child(2),
.grid_view_wrapper_sub_category > *:nth-child(3),
.grid_view_wrapper_sub_category > *:nth-child(5),
.grid_view_wrapper_sub_category > *:nth-child(6),
.grid_view_wrapper_sub_category > *:nth-child(7) {
	grid-column: span 6;
	@include screens-md {
		grid-column: span 2;
	}
}

.grid_view_wrapper_sub_category > *:nth-child(4) {
	grid-column: span 6;
	@include screens-md {
		grid-column: span 6;
	}
}
