@import "../../../../sass/sass-utils/colors";
@import "../../../../sass/sass-utils/mixins";

.card_wrapper {
	width: 100%;
	height: 100%;
	cursor: pointer;
	@include flex-col;
	padding-bottom: 1.5rem;
	gap: 1rem;
	.card_img_wrapper {
		width: 100%;
		height: 85%;
		border: 1px solid $body;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(95%);
		}
	}
	.card_details_wrapper {
		text-transform: uppercase;
		padding: 0 0.5rem;
		@include flex-row-space-between;
	}
	.card_buttons {
		@include flex-row;
		gap: 0.5rem;
		button {
			@include flex-row;
			justify-content: center;
			align-items: center;
		}
	}
	&:hover {
		@include box-shadow-strong;
	}
}
