$green: #116954;
$light_green: #6cc26f;
$black: #000000;
$dark_gray: #3b3841;
$black_main: #212529;
$gray: #b5b5b5;
$tomato_hover: #ff7979;
$orange: #ffa660;
$hover_3: #e8f2ff;
$red_main: #cc2121;
$blue: #5679ff;
$semi_blue: #7199ff;
$gray_text: #727272;
$navy: #27365c;
$white: #fff;
$light_gray: #e5e5e5;
$pink_main: #e83e8c;
$red_deep: #f24a72;
$body: #f8f9fa;
$back_drop: #010418cb;
$glass_white: rgba(255, 255, 255, 0.788);
