/* Breakpoints mobile first approach */
$bp-xs: 412px;
$bp-sm: 575px;
$bp-md: 768px;
$bp-lg: 1022px;
$bp-xl: 1280px;
$bp-2xl: 1536px;

/* Mixins for media query */
@mixin screens-xs {
	@media (min-width: $bp-xs) {
		@content;
	}
}
@mixin screens-sm {
	@media (min-width: $bp-sm) {
		@content;
	}
}
@mixin screens-md {
	@media (min-width: $bp-md) {
		@content;
	}
}
@mixin screens-lg {
	@media (min-width: $bp-lg) {
		@content;
	}
}
@mixin screens-xl {
	@media (min-width: $bp-xl) {
		@content;
	}
}
@mixin screens-2xl {
	@media (min-width: $bp-2xl) {
		@content;
	}
}
/*------------------------------*/

/*  Flex Mixin  */
@mixin flex-col {
	display: flex;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-col-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@mixin flex-row-space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
@mixin flex-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*-------------------------------*/

@mixin grid-align-center {
	display: grid;
	align-self: center;
	align-self: center;
}

/*******************************/

@mixin box-shadow-strong {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.3s ease-in-out;
}
@mixin box-shadow-diffuse {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.3s ease-in-out;
}
@mixin box-shadow-soft {
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@mixin box-shadow-sm {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
