@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";

.product_page_details_wrapper {
	@include flex-col-center;
	gap: 2rem;
	margin: 2rem;
	@include screens-md {
		@include flex-row-space-between;
		align-items: flex-start;
		margin: 3rem;
	}
	.img_wrapper {
		width: 100%;
		@include screens-md {
			width: 40%;
		}
		overflow: hidden;
		img {
			width: 100%;
			max-height: 40rem;
			filter: brightness(95%);
			transform: scale(1);
			transition: all 0.3s linear;
			&:hover {
				transform: scale(1.5);
				cursor: zoom-in;
			}
		}
	}
	.text_wrapper {
		@include flex-col;
		gap: 1rem;
	}
	.product_info {
		width: 100%;
		@include screens-md {
			width: 50%;
			height: 100%;
		}
		@include flex-col;
		gap: 1.5rem;
		.options {
			width: 100%;
			overflow: hidden;
			height: 6rem;
			@include screens-xl {
				width: 80%;
			}
			@include flex-row-center;
			gap: 2rem;
		}
		.stock {
			@include flex-row-center;
			gap: 1rem;
		}
		.buttons_wrapper {
			@include flex-row-center;
			gap: 1rem;
			.item_count_buttons {
				padding: 0.28rem 0;
				width: 50%;
				border-radius: 4px;
				border: 1px solid $light_gray;
				font-size: 1rem;
				@include flex-row-center;
				justify-content: center;
				gap: 1rem;
				@include screens-md {
					max-width: 12rem;
				}
			}
			.checkout_btn_wrapper {
				width: 100%;
				button {
					width: 100%;
					@include screens-xl {
						width: 72%;
					}
				}
			}
		}
	}
}

.related_products {
	border-top: 3px solid $light_gray;
	margin: 6rem 0 4rem 0;
	text-align: center;
	h3 {
		margin-top: 1rem;
	}
}
