@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";

.button {
	padding: 0.6rem 2rem;
	letter-spacing: 0.5px;
	font-size: 1rem;
	cursor: pointer;
	&:hover {
		@include box-shadow-diffuse;
	}
}

.primary {
	background-color: $white;
	border: 1px solid $black_main;
	font-weight: 500;
	border-radius: 8px;
	&:hover {
		border: 1px solid $blue;
	}
}
.rounded {
	background-color: $black_main;
	color: $white;
	border: unset;
	border-radius: 2.2rem;
	font-weight: 300;
}
.danger {
	background-color: $white;
	border: 1px solid $red_main;
	border-radius: 8px;
	font-weight: 300;
	color: $red_main;
	&:hover {
		background-color: $red_main;
		color: $white;
		border: unset;
	}
}
.success {
	background-color: $green;
	border: unset;
	border-radius: 8px;
	font-weight: 300;
	color: $white;
	&:hover {
		background-color: unset;
		border: 1px solid $green;
		color: $white;
	}
}
.btn-black {
	background-color: $black_main;
	color: $white;
	border: unset;
	border-radius: 4px;
	font-weight: 300;
}

.icon-btn-black {
	background-color: $black_main;
	color: $white;
	border-radius: 4rem;
	font-weight: 300;
	padding: 0.1rem 0.5rem;
	&:hover {
		background-color: $dark_gray;
	}
}
.icon-btn-white {
	background-color: unset;
	color: $black_main;
	border-radius: 4rem;
	border: 1px solid $black_main;
	font-weight: 300;
	padding: 0.1rem 0.5rem;
	&:hover {
		border: 1px solid $blue;
	}
}
.icon-btn-normal {
	background-color: unset;
	color: $gray_text;
	border: unset;
	font-weight: 300;
	padding: 0.1rem 0.5rem;
}
