@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";

.input-wrapper {
	width: 100%;
	@include flex-col;
	gap: 0.8rem;
	.input {
		padding: 0.6rem 0.8rem;
		border: 1px solid $light_gray;
		border-radius: 4px;
		font-size: 1rem;
		font-weight: 300;
		width: 100%;
	}
	.sm {
		height: 2.6rem;
	}
	.md {
		height: 3rem;
	}
	.lg {
		height: 3.5rem;
	}
	.rounded {
		border-radius: 2rem;
	}
	label {
		font-size: 1rem;
		color: $dark_gray;
		width: 100%;
	}
}
