@import "../../sass/sass-utils/colors";
@import "../../sass/sass-utils/mixins";

.cart_content_wrapper {
	@include flex-col-center;
	width: 100%;
	padding: 4rem 1rem;
	margin: auto;
	text-transform: uppercase;
	@include screens-md {
		width: 90%;
	}
	@include screens-lg {
		width: 75%;
	}
	@include screens-xl {
		width: 70%;
	}
	.cart_product_wrapper {
		width: 100%;
		@include flex-col;
		gap: 1rem;
		border-bottom: 1px solid $gray;
		padding-bottom: 1.5rem;
	}
	.cart_items {
		@include flex-row-space-between;
		align-items: flex-start;
		gap: 0.5rem;
		background-color: $body;
		padding: 1rem 0.5rem;
		border-radius: 6px;
		width: 100%;
		@include screens-md {
			padding: 1rem 2rem;
			align-items: center;
		}
		p {
			font-weight: 500;
			font-size: 0.7rem;
			@include screens-md {
				font-size: 0.9rem;
			}
		}
		.product_img_wrapper {
			img {
				width: 4rem;
				height: 5.6rem;
				@include screens-md {
					width: 6rem;
					height: 8rem;
					border-radius: 4px;
				}
				@include screens-lg {
					width: 10rem;
					height: 10rem;
					border-radius: 4px;
				}
			}
		}
		.price_details {
			@include flex-col-center;
			gap: 0.5rem;
			@include screens-md {
				@include flex-row-center;
				gap: 2rem;
			}
		}
		.product_quantity_count {
			@include flex-row-center;
			justify-content: center;
			gap: 1rem;
			border: 1px solid $light_gray;
			padding: 0rem 0.8rem;
			border-radius: 4rem;
		}
		.product_price_count {
			@include flex-col-center;
		}
	}

	.cart_total {
		background-color: $light_gray;
		width: 100%;
		margin: 1.5rem 0;
		padding: 1.8rem;
		border-radius: 6px;
		h4 {
			text-align: center;
			margin-bottom: 1.5rem;
		}
		.text_red {
			color: $red_main;
		}
	}
	.amount_description {
		@include flex-col;
		gap: 0.5rem;
		@include screens-md {
			gap: 1.1rem;
		}
		p {
			@include flex-row-space-between;
			font-weight: 500;
			font-size: 0.9rem;
			border-bottom: 1px solid #d4d4d4;
		}
	}
	.checkout_btn {
		width: 18rem;
		button {
			width: 100%;
		}
	}
}
