@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";
.cover_card_wrapper {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		width: 100%;
		height: 99%;
		background-color: #25252598;
	}
}
