@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";
.login_form {
	@include flex-col;
	button {
		margin-top: 1.5rem;
		@include screens-md {
			margin-top: 2rem;
		}
		@include flex-row-center;
		justify-content: center;
		gap: 0.4rem;
		img {
			width: 1rem;
			height: 1rem;
		}
	}
}
.forget_password_link {
	margin-top: 2rem;
	text-align: center;
	&:hover {
		color: $red_main;
	}
}
