@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";
.login_form {
	@include flex-col;
	gap: 0.5rem;
	.password_input_wrapper {
		position: relative;
		.view_password {
			position: absolute;
			right: 0;
			top: -0.1rem;
			z-index: 10;
		}
	}
	button {
		margin-top: 1rem;
		@include screens-md {
			margin-top: 1.1rem;
		}
		@include flex-row-center;
		justify-content: center;
		gap: 0.4rem;
		img {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}
.forget_password_link {
	margin-top: 2rem;
	text-align: center;
	&:hover {
		color: $red_main;
	}
}
