@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";

.nav_menu_mobile {
	z-index: 40;
	@include screens-lg {
		display: none;
	}
	&_btn {
		position: relative;
		@include flex-row;
		align-items: center;
		gap: 1.5rem;
		span {
			position: absolute;
			top: -0.2rem;
			color: $white;
			font-weight: 700;
			font-size: 0.7rem;
			background-color: $red_main;
			padding: 0.2rem 0.3rem;
			border-radius: 50%;
		}
	}
	&_dropdown {
		padding: 2rem;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $white;
		max-width: 18rem;
		height: 100vh;
		animation: toggle 0.3s linear;
		.close_icon {
			position: absolute;
			right: 6%;
			top: 2%;
		}
		&_search {
			position: relative;
			margin: 2rem 0;
			max-width: 13rem;
			.icon {
				position: absolute;
				top: 1.2rem;
				right: 0.8rem;
			}
		}
		&_links {
			@include flex-col;
			gap: 1.8rem;
			li {
				font-size: 0.9rem;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				&:hover {
					color: $red_main;
				}
			}
		}
	}
	.nav_backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $back_drop;
	}
}

@keyframes toggle {
	0% {
		transform: translateX(-100%);
	}
}
