@import "../../../sass/sass-utils/colors";
@import "../../../sass//sass-utils/mixins";

.nav_wrapper {
	position: fixed;
	z-index: 25;
	width: 100%;
	padding: 0 1rem;
	@include flex-row-space-between;
	align-items: center;
	background-color: #ffffffec;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	@include screens-lg {
		display: block;
		padding: 0;
	}
	.nav {
		@include flex-row-space-between;
		align-items: center;
		height: 4rem;
		@include screens-lg {
			margin: 0 4rem;
			height: 4.5rem;
		}
		&_logo {
			width: 10rem;
			height: 1.9rem;
			@include screens-lg {
				width: 14rem;
				height: 2.2rem;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		&_links {
			display: none;
			@include screens-lg {
				font-size: 1rem;
				font-weight: 500;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				color: $gray_text;
				@include flex-row;
				gap: 2.2rem;
				a {
					&:hover {
						color: $red_main;
					}
				}
			}
		}
		&_buttons {
			display: none;
			@include screens-lg {
				@include flex-row;
				align-items: center;
				gap: 1.5rem;
			}
			.user_profile_btn {
				position: relative;
				.bgscreen_dropdown {
					position: absolute;
					background-color: $white;
					z-index: 10;
					@include flex-col-center;
					justify-content: flex-start;
					gap: 1.5rem;
					left: 50%;
					top: 3rem;
					transform: translate(-50%);
					max-width: 18rem;
					max-height: 14rem;
					@include box-shadow-diffuse;
					padding: 1.5rem;
					border-radius: 4px;
					.drop_down_user_info {
						img {
							width: 3rem;
							height: 3rem;
							border-radius: 50%;
							filter: brightness(95%);
						}
						@include flex-row;
						text-align: left;
						gap: 0.6rem;
						width: 100%;
						border-bottom: 1px solid $light_gray;
						padding-bottom: 1.5rem;
						.user_account {
							@include flex-col;
							gap: 0.4rem;
						}
						.user_name {
							text-transform: capitalize;
							background-color: unset;
							font-size: 1rem;
							border-radius: unset;
							padding: 0;
							width: 100%;
							height: unset;
							font-weight: 600;
							&:hover {
								color: unset !important;
							}
						}
						.user_email {
							text-transform: lowercase;
							font-size: 0.8rem;
							font-weight: 400;
							padding: 0;
							width: 100%;
							&:hover {
								color: unset !important;
							}
						}
					}
					li {
						font-size: 0.8rem;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						font-weight: 400;
						width: 100%;
						color: $gray_text;
						cursor: pointer;
						// color: $light_gray;
						@include flex-row-center;
						gap: 0.4rem;
						button {
							@include flex-row;
						}
						&:hover {
							color: $red_main;
						}
						a {
							@include flex-row;
							align-items: center;
							gap: 0.4rem;
						}
						svg {
							padding: 0;
							margin: 0;
						}
					}
				}
			}
			.user_name {
				background-color: $light_gray;
				padding: 0.5rem 0.7rem;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				p {
					color: $red_main;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}
.wish_list_btn_wrapper,
.cart_item_link_wrapper {
	position: relative;
	.wish_list_count,
	.cart_item_count {
		color: $white;
		font-weight: 700;
		font-size: 0.8rem;
		background-color: $red_main;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 12px;
		@include box-shadow-diffuse;
		@include flex-col-center;
		justify-content: center;
	}
	.wish_list_count {
		position: absolute;
		right: -0.4rem;
		top: -0.2rem;
	}
	.cart_item_count {
		position: absolute;
		right: -0.7rem;
		top: -0.3rem;
	}
}
