@import "../../../sass/sass-utils/colors";
@import "../../../sass/sass-utils/mixins";

.cart_total {
	background-color: $light_gray;
	width: 100%;
	margin: 1.5rem 0;
	padding: 1.8rem;
	border-radius: 6px;
	h4 {
		text-align: center;
		margin-bottom: 1.5rem;
	}
	.text_red {
		color: $red_main;
	}
}
.amount_description {
	@include flex-col;
	gap: 0.5rem;
	@include screens-md {
		gap: 1.1rem;
	}
	p {
		@include flex-row-space-between;
		font-weight: 500;
		font-size: 0.9rem;
		border-bottom: 1px solid #d4d4d4;
	}
}
